:root {
    --border-check: 2px red solid;
    --theme-text-colour: #262626;
}

body {
    font-family: "Space Grotesk", sans-serif;
    padding-inline: 2rem;
}

.mode {
    position: absolute;
    right: 2rem;
    top: 1.25rem;
    cursor: pointer;
    /* -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; */
    user-select: none;
    /* -o-user-select: none; */
}

.heading {
    color: var(--theme-text-colour);
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding-top: min(70%, 8rem);
    text-decoration: underline red 0.5rem;
}

.upper {
    font-size: min(7vw, 3rem);
    visibility: visible;
}

@keyframes mistify {
    from {
        scale: 1;
        visibility: visible;
    }
    to {
        scale: 0;
        visibility: hidden;
    }
}

.lower {
    padding-top: 0;
    font-size: min(14vw, 7rem);
}

.container {
    height: 12vh;
    padding-block: min(10vw, 5rem);
    gap: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.welcome-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10rem;
    gap: 3em;        
    z-index: 1000;
}

button {
    width: 14rem;
    font-weight: 700;
    aspect-ratio: 2/0.8;
    font-size: 1.2rem;
    border-radius: 10vh;
    cursor: pointer;
    border: none;
    background-color: hsl(0, 0%, 91%);
}

#host:hover {
    background-color: hsl(5, 94%, 60%);
}

#join:hover {
    background-color: hsl(204, 100%, 65%);
}

.board {
    visibility: hidden;
    width: min(90vw, 80vh);
    aspect-ratio: 4/3;
    scale: 0.9;
    position: absolute;
    background: rgb(90, 135, 195);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    border: lightgrey 10px solid;
    border-radius: 10px;
    transform-origin: center;
}

.slots {
    width: 70%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: block;
    margin: auto;
    background-color: white;
    cursor: pointer;
}

.status {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    font-size: min(4vw, 1.5rem);
    color: red;
    z-index: 1000;
}

.Done {
    cursor: default;
}
